body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }

  footer {
    background-color: black;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px;
}

footer a {
    color: white;
}

footer p {
    color: white;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem; /* 100% means the default size is 16px / as for 'em', means M therefore the size of 1em is 16px*/
    margin: 50px auto 0 auto;
  }
  
  h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  h3 {
    color: #11999E;
    font-family: helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2;
  }
  
  hr {
    border: 6px dotted grey;
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
  }
  
  p {
    color: #40514e;
    line-height: 2;
  }

/* ======================================Styling================================================ */

.flex {
    display: flex;
}

/* ======================================Nav Header================================================ */
header {
  font-family: "Urbanist", sans-serif;
}

.center-nav {
    justify-content: flex-end;
    width: 100%;
}

.center-nav a {  
    color: black;
    font-family: "Lobster", cursive;
    font-size: 60px;
    text-decoration: none;
}

.center-nav a:hover {
    color: #44f8ff;
}

.mobile-bar {
    display: none;
}

.right-nav {
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.right-nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.right-nav a:hover {
    color: #44f8ff;
    text-decoration: underline;
}

.right-nav-list {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

/* Header IMG */
  
  .top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
  }
  
  .bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
  }

  /* Profile Section */
  
  .profile-description {
    display: inline-block;
    font-size: 1.5rem;
    width: 50%;
  }
  
  .profile-pic {
    border-radius: 100%;
    height: 200px;
    width: 200px;
  }

  /* Skills */
  
  .skill-row {
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
  }

  .skill-row p{
    font-size: 1.2rem;
  }
  
  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb);
    background-image: -moz-linear-gradient(top, #30e3cb);
    background-image: -ms-linear-gradient(top, #30e3cb);
    background-image: -o-linear-gradient(top, #30e3cb);
    background-image: linear-gradient(to bottom, #30e3cb);
    text-decoration: none;
  }

  /* Experience */
  
  .company-name {
    margin: 0;
  }
  
  .contact-message {
    width: 60%;
    margin: 0 auto 30px;
  }
  
  .experience {
    margin: 100px 20%;
    text-align: left;
  }
  
  .experience-two {
    margin: 100px 20%;
    text-align: left;
  }
  
  .experience-two .year-join-end {
    display: inline-block;
    margin: 0 0 0 5%;
    font-weight: 700;
  }
  
  .fuso {
    float: left;
    height: 21rem;
    margin: 5px 10px 0 0;
    padding: 15px 20px 0 0;
    width: 40%;
  }
  
  .nova {
    float: right;
    height: 21rem;
    margin: 5px 0 0 10px;
    padding: 15px 0 0 20px;
    width: 40%;
  }

  .hr-middle {
      margin-top: 10rem;
  }
  
  .my-tasks {
    line-height: 1.5;
    margin: 0.5rem auto;
  }
  
  .skills-pic {
    border-radius: 30%;
    float: left;
    margin-right: 30px;
    margin-top: 15px;
    width: 25%;
  }
  
  .skills-japan {
    float: right;
    margin-top: 10px;
    margin-left: 25px;
    width: 25%;
  }
  
  .location{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
  }
  
  .year-join-end {
    display: inline-block;
    margin: 0 5%;
    font-size: 18px;
    font-weight: 700;
  }
  
  .pro {
    text-decoration: underline;
  }
  
  .profile h2 {
    font-weight: 700;
  }
  
  /* .experience-container {
    padding:0;
  } */
  
  .remove-deco {
    padding-left: 0;
    font-size: 20px;
  }
  
  .top-container {
    background-color: #eaf6f6;
    position: relative;
    padding-top: 100px;
  }
  
  .middle-container {
    margin: 100px 0 0;
  }
  
  /* Bottom Container */

  .bottom-container {
    /* background-color: #66bfbf; */
    padding: 20px 0 20px;
    display: flex;
    justify-content: center;
  }
  
    .bottom-container .icon a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 50px;
    text-decoration: none;
  }
  
  .bottom-container .icon a:hover {
    color: #44f8ff;
    border-bottom: 1px solid;
    text-decoration: none;
  }

  .icon {
      font-size: 100px
  }
  
  @media (max-width:1100px) {
    /* Footer */

  /* Menu Responsive */
    .show-menu {
      animation: showMenu 1s ease-out;
  }

  .hide-menu {
      animation: hideMenu .5s ease-out;
  }

  .mobile-menu-container {
    background-color: white;;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .mobile-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3;
  }

  .mobile-menu-container .mobile-menu a{
    color: black;
    font-family: "Urbanist", sans-serif !important;
    text-decoration: none;
}

    /* Navigation Bar */
    .center-nav {
        justify-content: center;
        width: 100%;
    }

    .mobile-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0.5rem;
    }

    #mobile-bar-cta {
        font-size: 1.5rem;
    }

    .right-nav {
        display: none;
    }
    
    .right-nav a {
        color: black;
        font-size: 20px;
        text-decoration: none;
    }

    .right-nav-list {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }

    /* Header IMG */
    .top-container {
        padding-top: 1rem;
    }

    .bottom-cloud {
        width: 20%;
        left: 70%;
        bottom: 20%;
    }

    .mountain {
        width: 50%;
    }

    /* Skills */
    .skill-row {
        text-align: center;
        width: 70%;
    }

    .skills-pic {
        float: none;
        margin: 0;
        width: 80%;
    }

    .skills-japan {
        float: none;
        margin: 0;
        width: 80%;
    }
     
     /* Experience */
     .experience {
       margin: 100px auto;
       text-align: center;
       width: 70%;
     }
  
     .experience-two {
       margin: 100px auto;
       text-align: center;
     }
  
     .fuso {
       float: none;
       width: 75%;
       padding: 0;
     }
  
     .nova {
       float: none;
       width: 100%;
       padding: 0;
     }

     .remove-deco {
         font-size: 1.2rem;
         text-align: left;
     }

     /* Contact Me */

    .contact-me h2 {
        margin-bottom:  0.5rem;
    }

     .contact-me h3 {
       display: inline-block;
       line-height: 2;
       width: 17rem;
     }

     /* Bottom Container */
     .bottom-container {
         flex-direction: column;
         padding-top: 2.5rem;
     }

     .icon {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
   }

/* *********************Animation****************************** */

@keyframes showMenu {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}

@keyframes hideMenu {
  0% {
      opacity: 100%;
  }

  100% {
      opacity: 0%;
  }
}